footer.footer
  //- .footer__logo
  //-   img(src='img/logo.jpg' alt='logo')
  //- ul.footer__nav
  //-   li: a(href='#') About BLSS
  //-   li: a(href='#') Contact
  p.footer__copyright &copy; by Alex Xu all rights reserved