header.header.sticky.top-0.z-50
  nav.nav.grow
    a.nav-link(href='/play') 
      svg(class='h-10 w-10')
        use(href='/img/icons.svg#icon-landlord')
    a.nav-link(href='/') 
      img(src='/img/poker.svg' class='h-10 w-10')
    a.nav-link(href='/player')
      svg(class='h-10 w-10')
        use(href='/img/icons.svg#icon-user')
    a.nav-link(href='#')
      img(src='/img/stats.svg' class='h-10 w-10')