@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header {
    @apply flex bg-gray-200 align-middle text-center text-white w-full;
  }
  .nav {
    @apply flex text-2xl font-bold p-3 gap-3 w-full;
  }

  .footer__copyright {
    justify-self: end;
    color: #999;
  }

  .nav-link {
    @apply rounded-lg shadow-lg p-4 bg-gradient-to-bl from-blue-200 to-blue-600;
  }

  .footer {
    background-color: #f7f7f7;
    padding: 6rem 4rem 3rem 4rem;
    font-size: 1.4rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 0.75rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  @media only screen and (max-width: 50em) {
    .footer {
      grid-template-columns: 1fr;
      grid-row-gap: 1.25rem;
      justify-items: center;
    }
  }

  @media only screen and (max-width: 50em) {
    .footer {
      grid-template-columns: 1fr;
      grid-row-gap: 1.25rem;
      justify-items: center;
    }
  }

  .input__form {
    @apply mt-0 block w-full px-0.5 border-0 border-b-2 border-gray-200 focus:ring-0 focus:border-black;
  }

  .button__form {
    @apply bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded;
  }

  .mx-0-auto {
    margin: 0 auto;
  }

  .btn-primary {
    @apply py-2 px-4 bg-blue-500 text-white font-bold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }

  .btn-tinker {
    @apply bg-blue-500 text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }

  .filter-green {
    filter: brightness(0) saturate(100%) invert(68%) sepia(69%) saturate(5148%)
      hue-rotate(87deg) brightness(116%) contrast(131%);
  }

  .filter-green-600 {
    filter: brightness(0) saturate(100%) invert(42%) sepia(94%) saturate(2922%)
      hue-rotate(120deg) brightness(96%) contrast(83%);
  }

  .filter-blue-600 {
    filter: brightness(0) saturate(100%) invert(31%) sepia(95%) saturate(3821%)
      hue-rotate(217deg) brightness(97%) contrast(91%);
  }

  .filter-purple-600 {
    filter: brightness(0) saturate(100%) invert(13%) sepia(44%) saturate(5194%)
      hue-rotate(287deg) brightness(103%) contrast(122%);
  }
}

@layer base {
  html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  body {
    line-height: 1.6;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    color: #777;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  th {
    @apply border border-blue-300;
  }
  td {
    @apply border border-blue-300;
  }
}
